/*h2 {
    color: blueviolet;
    font-family: fantasy;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: brown
}

#heading {
    color: aqua;
}

.item-row{
    color: blue;
}

#bottom-item-row{
    color: yellowgreen;
    text-decoration:line-through;
    display:none; 
/*display none removes the item from view on a webpage but doesnt delete the code*/

#Websitename {
    background-color: #FF8C00;
    color: #4484ce;
    text-align: right;
}

#Wholepage {
    background-color: #f9cf00;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#Header {
    background-color:#FF8C00;
    color: #4484ce;
    text-align: center;
    padding: 10px;
}
#content{
    background-color: aqua;

}
#content.table {
    background-color: #FF8C00;

}
body {
    background-color: #FF7F50;
    font-family: Helvetica, Arial, sans-serif;
}
#image1{
    width: 300px;
    height:200px;
    align-content: right;
}
#footer {
    display: none
}

.buttons {
    backgroundcolor: black;
    color: white;
    width: 150px;
    height: 40px;
}

#textbox {
    height: 40px;
    width: 150px;
    font-size: 14pt;
}