*
* {
    border: 1px solid red;
}
Adds a border around the elements/properties
*/

.header img {
    float: right;
    width: 200px;
    height: 100px;
    background: #FF7F50;
}

.header h1 {
    text-align: right;
    top: 18px;
    left: 10px;
    color: black;
    font-family: 'UniqueRegular', Arial, sans-serif;
    background-color: #FF7f50;
    margin: 0;
    padding: 10px;
}

h2, h3 {
    font-family: 'UniqueRegular', Arial, sans-serif;
}

#PageTitle {
    background-color: #FF7F50;
    text-align: center;
    padding: 10px;
}
#input {
    padding: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#f9cf00 33.33%, #f9cf00 33.33%, #f9cf00 66.66%, #4484ce 66.66%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
}

.currentpage {
    font-weight: bold;
}

#table{
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    padding: 100px;

}




#content {
    background-color: #d9d9d9;
    width: 1000px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    margin: auto;
    border-radius: 25px;
}

#footer {
    padding: 10px;
    background-color: aliceblue;
    color: black;
    text-align: left;
    display: none;
}


#textbox {
    height: 35px;
    width: 200px;
    font-size: 14pt;
    cursor: text;
    padding: 10px;
}




